openapi: 3.1.0
info:
  title: HP Workforce Solutions Analytics API
  description: >-
    The HP Workforce Solutions Analytics API provides insightful analytics on
    planning, cost optimization, and service management capabilities for devices
    enrolled in HP Proactive Insights.
  version: 1.0.0
  contact:
    name: HP Developer Portal
    url: https://developers.hp.com/
servers:
  - url: https://daas.api.hp.com
    description: Production
paths:
  /analytics/devices:
    get:
      operationId: getDeviceAnalytics
      summary: Get Device Analytics
      description: Retrieve analytics data for enrolled devices.
      tags:
        - Analytics
      parameters:
        - name: startDate
          in: query
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceAnalyticsList'
        '401':
          description: Unauthorized
  /analytics/incidents:
    get:
      operationId: getIncidents
      summary: Get Incidents
      description: Retrieve incident data for managed devices.
      tags:
        - Incidents
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncidentList'
  /devices:
    get:
      operationId: getDevices
      summary: Get Devices
      description: Retrieve a list of enrolled devices.
      tags:
        - Devices
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceList'
tags:
  - name: Analytics
    description: Device analytics operations
  - name: Incidents
    description: Incident management operations
  - name: Devices
    description: Device management operations
components:
  schemas:
    DeviceAnalytics:
      type: object
      properties:
        deviceId:
          type: string
        healthScore:
          type: number
        utilizationRate:
          type: number
        lastReportDate:
          type: string
          format: date-time
    DeviceAnalyticsList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DeviceAnalytics'
    Incident:
      type: object
      properties:
        id:
          type: string
        deviceId:
          type: string
        severity:
          type: string
        description:
          type: string
        createdAt:
          type: string
          format: date-time
    IncidentList:
      type: object
      properties:
        incidents:
          type: array
          items:
            $ref: '#/components/schemas/Incident'
    Device:
      type: object
      properties:
        id:
          type: string
        model:
          type: string
        serialNumber:
          type: string
        status:
          type: string
    DeviceList:
      type: object
      properties:
        devices:
          type: array
          items:
            $ref: '#/components/schemas/Device'
